<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>IguanaScore - An absolute and relative score for triple stores based upon Iguana benchmarks</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
  <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/simple.css">
  <link rel="stylesheet" href="css/angular-chart.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="css/style.css">

<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
  <!-- skin -->
  <link rel="stylesheet" href="skin/default.css">
  <!-- =======================================================
    Theme Name: Amoeba
    Theme URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->

</head>

<body>
  <section id="header" class="appear"></section>
  <div id="nav" class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
        <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">			IguanaScore
					</a></h1>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li class="active"><a href="index.html"></a></li>

        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>

  <section class="featured">
    <div class="container">
      <div class="row mar-bot40">
        <div class="col-md-6 col-md-offset-3">

          <div class="align-center">
            <i class="fa fa-flask fa-5x mar-bot20"></i>
            <h2 class="slogan">Welcome to IguanaScore</h2>
            <p>
              Add your Iguana benchmark results by providing a file url or an endpoint containing the results. 
Afterwards you can choose which of the benchmarks you want to compare to each other. 
Afterwards the score, the tables and charts will be generated which you can view and download. Further on an URL to share your experiments will be provided (only if public endpoint/file URL was provided)

            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

<div ng-app="sparql"
			ng-controller="sparqlController as sc">
  <!-- data providing -->

  <section id="data" class="section appear clearfix">
    <div class="container"  >
      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Provide your benchmark results</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="cform" id="contact-form">
            <div id="sendmessage">
              Data is available
            </div>
            <div  ng-show="error">
				<div class="btn btn-lg btn-danger">
				{{errormsg}}

				<a ng-click='errorClear()'><span class="glyphicon glyphicon-remove-sign"></span></a>
				</div>
			</div>

            <form role="form" class="contactForm" ng-submit="sparqlSubmit('SELECT * {?s <http://iguana-benchmark.eu/properties/connection> ?con}', {'vars':['s','con']}, endpointF)">
              <div class="form-group">
                <label for="name">SPARQL Endpoint (please ensure JSON response, localhost is allowed)</label>
                <input type="text" name="endpoint" ng-model="endpointForm.endpoint" class="form-control" id="endpoint" placeholder="http://your-endpoint.com/sparql" />
                <div class="validation"></div>
              </div>
              <div class="form-group" hidden="true">
                <label for="file">...or upload a File</label>
                <input type="file" class="form-control ng-pristine ng-valid ng-touched" name="file" id="file"  placeholder="http://file-server.test/file.nt" />
                <div class="validation"></div>
              </div>
              <input type="submit" class="btn btn-lg btn-theme pull-left" value="GO"/>
            </form>
			
          </div>
        </div>
		<div class="row">
        	<div class="col-md-8 col-md-offset-2">
				 <div id="progress" hidden="true" class="progress">
 				 <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
					Loading...
 				 </div>
			</div> 
</div>
        </div>
        <!-- ./span12 -->
      </div>

    </div>
  </section>


  <section id="choose" class="section appear clearfix" hidden="true">
    <div class="container" >

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Choose benchmarks to compare</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="cform" id="choose-form"> 
            <form  role="form" class="contactForm" ng-submit="retrieveResults()">
              <div class="form-group">

                 <select class="multiselect"  id="chooseSelect" ng-model="compareUris" ng-options="x.s.value as (x.con.value.toString().replace('http://iguana-benchmark.eu/recource/', '')+'-'+x.s.value.toString().replace('http://iguana-benchmark.eu/recource/', '')) for x in choose" multiple="multiple" multiselect-dropdown>
				</select>



	     	</div>
			<input type="submit" class="btn btn-lg btn-theme pull-left" value="GO"/>

	    	</form>        
		</div>
        <!-- ./span12 -->
      </div>

    </div>
  </section>

  <section id="results" class="section appear clearfix"  hidden="true">
    <div class="container">
<div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Your Results</h2>
          </div>
        </div>
      </div><div class="row">
        	<div class="col-md-12 ">
			<div id="jumbotron" class="jumbotron">
	
	<div class="row" ng-repeat="r in results">
			<h4 class="section-heading animated" data-animation="bounceInUp">{{r.title}}</h4>
    			<div class="col-md-6 section-heading animated" data-animation="bounceInUp">
<div id="table-wrapper">
  <div id="table-scroll">				
				<table class="itxt fancytable"> <thead>
  	 				<tr>
						<th>Benchmark</th>
        					<th ng-repeat="x in r.labels">{{x}}</th>
    					</tr> </thead>
					<tr ng-repeat="x in r.data">
						<td style="font-weight: bold;">{{r.series[r.data.indexOf(x)]}}</td>
        					<td ng-repeat="val in x track by $index">{{val}}</td>
    					</tr>
				</table>
			</div></div></div>
			<div class="col-md-6 section-heading animated" data-animation="bounceInUp">
	
			<div ng-show="{{r.type == 'chart-line'}}" >				
		        <chartline id="{{r.id}}" chart-data="r"></chartline>
			</div>

			<div ng-show="{{r.type == 'chart-bar'}}" >
		       	<chart id="{{r.id}}" chart-data="r"></chart>
			</div>
		</div>


			   
			</div>
  </div>
			</div>
		</div>
	</div>
    </div>
  </section>

  <section id="download" class="section appear clearfix"  hidden="true">
    <div class="container">
<div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Download</h2>
	<div class="row">
        	<div class="col-md-8 col-md-offset-2">
			<!--<button type="button" class="btn btn-lg btn-info" ng-click="download()">
          			<span class="glyphicon glyphicon-download"></span> Download PDF
        		</button>-->
		</div>
<div class="col-md-8 col-md-offset-2">
			<button type="button" class="btn btn-lg btn-info" onclick="downloadHTML(results)">
          			<span class="glyphicon glyphicon-download"></span> Download HTML
        		</button>
		</div>
	</div>
	<div class="row">
        <div class="col-md-8 col-md-offset-2">
</br>
<p ng-hide="endpointForm.endpoint == null">
          <span class="glyphicon glyphicon-copy"></span>

       Share your Results: <a href="http://iguana-benchmark.eu/sc/index.html?endpoint="+{{endpointForm.endpoint}}+"&compare={{compareUris}}">http://iguana-benchmark.eu/sc/index.html?endpoint={{endpointForm.endpoint}}&compare={{compareUris}}</a>
</p>
	</div>
	</div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

  <section id="footer" class="section footer">
    <div class="container">


      <div class="row align-center copyright">
        <div class="col-sm-12">
          <p>Copyright &copy; Amoeba</p>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Amoeba
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
<p hidden="true" id="hiddenFile"/>
  </section>
  <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
<div id="scripts">
  <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="js/skrollr.min.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/jquery.localScroll.js"></script>
  <script src="js/stellar.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

<script src="js/Chart.min.js"></script>
<script src="js/angular-chart.min.js"></script>

 <script src="js/rdfstore.js"></script>
<script src="js/rdfstore_min.js"></script>
 	<script src='js/pdfmake.min.js'></script>
 	<script src='js/vfs_fonts.js'></script>
 	<script src='js/html2canvas.min.js'></script>
 	<script src='js/html2canvas.js'></script>
</div>
<script>

	var app = angular.module('sparql', ["chart.js"]);
app.directive('chart', function () {
    return {
        restrict: 'E',
        templateUrl: 'templates/chartTemplate.html',
       scope: {
chartData: '='
       }
		
    };
});
app.directive('chartline', function () {
    return {
        restrict: 'E',
        templateUrl: 'templates/chartLine.html',
       scope: {
chartData: '='
       }
		
    };
});
	app.config(['ChartJsProvider', function (ChartJsProvider) {
    // Configure all charts
    ChartJsProvider.setOptions({
      colors : [ getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
      responsive: true,
      legend: {
            display: true
      },scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    }
    });
    // Configure all line charts
    ChartJsProvider.setOptions('line', {
      showLines: false
    });
  }]);
	Chart.defaults.global.colors=[ getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()];
	app.controller(
					"sparqlController",
					function($scope, $http, $location) {

					$scope.fileLoaded=false;
						$scope.results=[];
						$scope.endpointForm=[]
						$scope.compareUris=[];
						$scope.error = false;
						$scope.errormsg = '';
						$scope.store = null;
						$scope.uresults={};
						$scope.choose=[{"con":{"value":"placeholder"}}];
						$scope.selectAction = function() {

						};
						$scope.download = function(){
							html2canvas(document.querySelector('#img2')).then(canvas => {
    								var data = canvas.toDataURL();
                var docDefinition = {
			
                    content: ['Your Results', {
          			width: '*',
          			image: data,
        		},
				{
	        			table: {
	        				headerRows: 1,
	        				widths: [ 100,  100,  100, 100 ],

	        				body: [
						        [ 'First', 'Second', 'Third', 'The last one' ],
        		 	 			[ 'Value 1', 'Value 2', 'Value 3', 'Value 4' ],
          						[ 'bla', 'Val 2', 'Val 3', 'Val 4' ]
        					]
        				},
				}
		       
                    
    
                    ]
                };
                pdfMake.createPdf(docDefinition).download("Score_Details.pdf");
							});
            
 						};

						$scope.errorClear = function() {
							$scope.error = false;
							$scope.errormsg = '';
						};
						$scope.countUResults = function(){
							var ret=0;							
							for(t in $scope.uresults){
								for(d in $scope.uresults[t]){
									ret+=$scope.uresults[t][d].series.length;
								}
							}
							return ret;
						};
						$scope.prepareUResults = function(title, type){
							//{title:"QMPH", dataset:"", id:"1", type:"chart-bar", labels:['a','b'], series: ['F','T','V'], data:[[1,1],[2,2],[2, 4]]}
							//{t1: {d1: {}, d2: {}}}
							$scope.results=[];
							for(t in $scope.uresults){
								var actual = {labels:[], series:[], data:[]};
								actual.title = t;
								actual.id=t;
								
								var dIndex=0;
								for(d in $scope.uresults[t]){
									actual.type=$scope.uresults[t][d].type;
									for(c in $scope.uresults[t][d].series){
										var conIndex = $scope.uresults[t][d].series.indexOf($scope.uresults[t][d].series[c]);
										var conIndex2 = actual.series.indexOf($scope.uresults[t][d].series[c]);
										if($scope.uresults[t][d].labels!=null){
											actual.labels = $scope.uresults[t][d].labels;
										}
										else if(actual.labels.indexOf(d)<0){											
											actual.labels.push(d);
										}
										if(conIndex2>0){
											//add nulls if d index > data[con].length
											var dataLength = actual.data[conIndex2].length-1;
											for(i=0;i<dIndex-dataLength;i++){
													actual.data[conIndex2].push(null);
											}
											//add value to data
											if($scope.uresults[t][d].data[conIndex].constructor === Array){
												actual.data[conIndex2].push.apply(actual.data[conIndex2], $scope.uresults[t][d].data[conIndex]);
											}
											else{
												actual.data[conIndex2].push($scope.uresults[t][d].data[conIndex]);
											}
										}
										else{
											var data=[];
											for(i=0;i<dIndex;i++){
													data.push(null);
											}
											//add value to data

											actual.series.push($scope.uresults[t][d].series[c]);
											if($scope.uresults[t][d].data[conIndex].constructor === Array){
												data.push.apply(data, $scope.uresults[t][d].data[conIndex]);
											}
											else{
												data.push($scope.uresults[t][d].data[conIndex]);
											}
											actual.data.push(data);
										}
									}
									dIndex++;
								}
								$scope.results.push(actual);
								
							}
						console.log($scope.results);
						}
						$scope.getSingleMetric =function(metric, add, title, distinct){
							//for taskUris : compareUris:
							var addPro = "";							
							for(a in add){
								addPro += "?"+add[a]+" ";
							}
							for(task in $scope.compareUris) {
								//SELECT 
								$scope.sparqlSubmit("SELECT DISTINCT ?suiteID ?dataset ?connection "+addPro+" (SUM("+distinct+" ?metric) AS ?METRIC) WHERE { SELECT   distinct ?suiteID ?dataset ?connection "+addPro+" ?metric {?suiteID <http://www.w3.org/2000/01/rdf-schema#Class>  <http://iguana-benchmark.eu/class/Suite> . ?suiteID <http://iguana-benchmark.eu/properties/experiment> ?expID. ?expID <http://iguana-benchmark.eu/properties/dataset>  ?dataset . ?expID <http://iguana-benchmark.eu/properties/task> <"+$scope.compareUris[task]+">. <"+$scope.compareUris[task]+"> <http://iguana-benchmark.eu/properties/connection> ?connection. <"+$scope.compareUris[task]+"> ?p ?uuid . "+metric+" }} GROUP BY ?suiteID ?dataset ?connection "+addPro, {'vars':["suiteID", "dataset","connection", "METRIC", $scope.compareUris[task]]},
									function($data){							
										var resultData = [];	
										
										var result = $data.results.bindings[0];
										var dataset = result.dataset.value.toString().replace('http://iguana-benchmark.eu/recource/', '');

										var connection = result.connection.value.toString().replace('http://iguana-benchmark.eu/recource/', '')+" - "+result.suiteID.value.toString().replace('http://iguana-benchmark.eu/recource/', '');
										var t = title+" Task "+$data.head.vars[4].toString().substring($data.head.vars[4].lastIndexOf('/')+1).toString();
										var taskDataset = {series:[], data:[]};
										if($scope.uresults[t]!=null){
											if( $scope.uresults[t][dataset]!=null){
												taskDataset=$scope.uresults[t][dataset];
											}
										}
										else{
											$scope.uresults[t]={};
										}
										if(taskDataset.series.indexOf(connection)<0){
											taskDataset.series.push(connection);
										}
										taskDataset.data.push(result.METRIC.value);
										taskDataset.type="chart-bar";
										$scope.uresults[t][dataset]=taskDataset;

										
										var count =$scope.countUResults();
										console.log("Count: "+count);
										//TODO fix, as not all may have all metrics
										//if(count>=$scope.compareUris.length*3){

											console.log("Preparing U results");
											$scope.prepareUResults(title, "chart-bar");
											
											$scope.$apply();
										//}
										
									});

							}
							
							
						}
						$scope.getMultiMetric =function(metric, add, title){
							//for taskUris : compareUris:
							var addPro = "";							
							for(a in add){
								addPro += "?"+add[a]+" ";
							}
							for(task in $scope.compareUris) {
								//SELECT 
								//$scope.sparqlSubmit("SELECT DISTINCT ?suiteID ?dataset ?connection "+addPro+" (SUM(DISTINCT ?metric) AS ?METRIC)  {?suiteID <http://www.w3.org/2000/01/rdf-schema#Class>  <http://iguana-benchmark.eu/class/Suite> . ?suiteID <http://iguana-benchmark.eu/properties/experiment> ?expID. ?expID <http://iguana-benchmark.eu/properties/dataset>  ?dataset . ?expID <http://iguana-benchmark.eu/properties/task> <"+$scope.compareUris[task]+">. <"+$scope.compareUris[task]+"> <http://iguana-benchmark.eu/properties/connection> ?connection. <"+$scope.compareUris[task]+"> ?p ?uuid . "+metric+" } GROUP BY ?suiteID ?dataset ?connection "+addPro+" ORDER BY ?queryID", {'vars':["suiteID", "dataset","connection", "METRIC", $scope.compareUris[task]]},
								$scope.sparqlSubmit("SELECT DISTINCT ?suiteID ?dataset ?connection "+addPro+" (SUM(DISTINCT ?metric) AS ?METRIC)   WHERE { SELECT   distinct ?suiteID ?dataset ?connection "+addPro+" ?metric { ?suiteID <http://www.w3.org/2000/01/rdf-schema#Class>  <http://iguana-benchmark.eu/class/Suite> .  ?suiteID <http://iguana-benchmark.eu/properties/experiment> ?expID.  ?expID <http://iguana-benchmark.eu/properties/dataset>  ?dataset .  ?expID <http://iguana-benchmark.eu/properties/task> <"+$scope.compareUris[task]+">.  <"+$scope.compareUris[task]+"> <http://iguana-benchmark.eu/properties/connection> ?connection.  <"+$scope.compareUris[task]+"> ?p ?uuid . "+metric+"  }  } GROUP BY ?suiteID ?dataset ?connection "+addPro+"  ORDER BY ?queryID" , {'vars':["suiteID", "dataset","connection", "METRIC", $scope.compareUris[task]]},
									function($data){							
										var resultData = [];	
										var dataMulti=new Array($data.results.bindings.length);
										console.log($data.results.bindings.length);
										for(resultI in $data.results.bindings){
											var result = $data.results.bindings[resultI];
											var dataset = result.dataset.value.toString().replace('http://iguana-benchmark.eu/recource/', '');

											var connection = result.connection.value.toString().replace('http://iguana-benchmark.eu/recource/', '')+" - "+result.suiteID.value.toString().replace('http://iguana-benchmark.eu/recource/', '');
											var t = title+" Task "+$data.head.vars[4].toString().substring($data.head.vars[4].lastIndexOf('/')+1).toString();
											var taskDataset = {series:[], data:[], labels:[]};
											taskDataset.labels= new Array($data.results.bindings.length);
											if($scope.uresults[t]!=null){
												if( $scope.uresults[t][dataset]!=null){
													taskDataset=$scope.uresults[t][dataset];
												}
											}
											else{
												$scope.uresults[t]={};
											}
											if(taskDataset.series.indexOf(connection)<0){
												taskDataset.series.push(connection);
											}
											var insert = Number(result.queryID.value.replace('http://iguana-benchmark.eu/recource/', '').replace('sparql','').replace('update',''));
											dataMulti.splice(insert, 1,result.METRIC.value);
											if(taskDataset.labels.indexOf(result.queryID.value.replace('http://iguana-benchmark.eu/recource/', ''))<0){
												taskDataset.labels.splice(insert, 1,result.queryID.value.replace('http://iguana-benchmark.eu/recource/', ''));
											}
											$scope.uresults[t][dataset]=taskDataset;

										}
										taskDataset.type="chart-line";
										taskDataset.data.push(dataMulti);
										var count =$scope.countUResults();
										console.log("Count: "+count);
										//TODO fix, as not all may have all metrics
										//if(count>=$scope.compareUris.length*3){		
										
											console.log("Preparing U results");
											$scope.prepareUResults(title, "chart-line");
											if(!$scope.$$phase) {
												$scope.$apply();
											}
											
								});

							}
						}
						$scope.getStats =function(){
							//for taskUris : compareUris:
							//SELECT 
							//add row 
						}
						$scope.getScore =function(){
							//for taskUris : compareUris:
							//SELECT 
							//add row 
						}
						$scope.retrieveResults = function(){
							$scope.getSingleMetric("?uuid <http://iguana-benchmark.eu/properties/qps#query> ?query .  ?query <http://iguana-benchmark.eu/properties/succeded> ?metric", [], "NoOfQueries", " ");
							$scope.getSingleMetric("?uuid <http://iguana-benchmark.eu/properties/queryMixes> ?metric", [], "QMPH", "DISTINCT");
							$scope.getSingleMetric("?uuid <http://iguana-benchmark.eu/properties/noOfQueriesPerHour> ?metric", [], "NoQPH", "DISTINCT");
							$scope.getMultiMetric("?uuid <http://iguana-benchmark.eu/properties/qps#query> ?query . ?query <http://iguana-benchmark.eu/properties/queryID> ?queryID . ?query <http://iguana-benchmark.eu/properties/queriesPerSecond> ?metric", ["queryID"], "QPS");
							$scope.getMultiMetric("?uuid <http://iguana-benchmark.eu/properties/qps#query> ?query . ?query <http://iguana-benchmark.eu/properties/queryID> ?queryID . ?query <http://iguana-benchmark.eu/properties/failed> ?metric", ["queryID"], "Failed");
							$scope.getMultiMetric("?uuid <http://iguana-benchmark.eu/properties/qps#query> ?query . ?query <http://iguana-benchmark.eu/properties/queryID> ?queryID . ?query <http://iguana-benchmark.eu/properties/succeded> ?metric", ["queryID"], "Succeded");
							$scope.getMultiMetric("?uuid <http://iguana-benchmark.eu/properties/qps#query> ?query . ?query <http://iguana-benchmark.eu/properties/queryID> ?queryID . ?query <http://iguana-benchmark.eu/properties/resultSize> ?metric", ["queryID"], "ResultSize");
							$scope.getStats();
							$scope.getScore();

							document.getElementById('results').hidden=false;
							document.getElementById('download').hidden=false;
 							location.hash = "results" ;

						};
						$scope.endpointF = function($data) {
							document.getElementById('choose').hidden=false;
							$scope.choose=$data.results.bindings;
							if(!$scope.$$phase) {
												$scope.$apply();
											}
 							
							
 							location.hash = "choose" ;
							
						};
						$scope.sparqlSubmit = function($query, $vars, $callback) {
							$scope.error = false;
							document.getElementById('progress').hidden=false;
							if($scope.endpointForm.endpoint!=null && !($scope.endpointForm.endpoint=='')){
								console.log($scope.endpointForm.endpoint+'?query='+ encodeURIComponent($query));
								$http({
									method: 'JSONP',
									config: {
										headers: {
											'Accept': 'application/sparql-results+json'
										}
									},
								 
									url : $scope.endpointForm.endpoint+'?query='
													+ encodeURIComponent($query)
										})
										.then(
												function successCallback(response) {
													document.getElementById('progress').hidden=true;
													$callback(response.data);
												},
												function errorCallback(response) {
													$scope.error = true;
													$scope.errormsg = response.status
															+ ": "
															+ response.statusText;
													document.getElementById('progress').hidden=true;
										});
								        
							
							}
							else if($scope.store==null){
								var f = document.getElementById('file').files[0],
        						r = new FileReader();

    							
    							r.onloadend = function(e) {
      								var data = e.target.result;
									rdfstore.create(function(err, store) {
											$scope.store=store;
											$scope.store.load("text/turtle", data, function(err){
													if(err){
														console.log(err);
													}
													
													$scope.store.execute($query, function(err, results) {
													if(err){
														console.log(err);
													}
													var res = {"head": { $vars}, "results":{"bindings": results}}
													document.getElementById("progress").hidden="true";
													$callback(res);
													if(!$scope.$$phase) {
												$scope.$apply();
											}
									});
											});
									});
										

												
										
								};
    							

   								r.readAsBinaryString(f);

								
							}
							else{
								console.log($query);		
								$scope.store.execute($query, function(err, results) {
													if(err){ console.log(err);};
													var res = {"head":  {"vars": $vars.vars}, "results":{"bindings": results}}
													document.getElementById("progress").hidden="true";
													$callback(res);
													if(!$scope.$$phase) {
												$scope.$apply();
											}
								});
							}

						};
						
});



function downloadHTML(resultsVar){
	var html = "<html class='js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache no-svg no-inlinesvg no-smil no-svgclippaths skrollr skrollr-desktop'>";
	var head = "<head>"+document.head.innerHTML+"</head>";
	var nav = document.getElementById("nav").outerHTML;	
	var footer = document.getElementById("footer").outerHTML;	
	var results = "<div ng-app='sparql' ng-controller='sparqlController as sc'>"+document.getElementById("results").innerHTML+"</div>";
	var angular = "var app = angular.module('sparql', ['chart.js']); app.directive('chart', function () {return {restrict: 'E',templateUrl: 'templates/chartTemplate.html',scope: {chartData: '='}};});app.directive('chartline', function () {return {restrict: 'E',templateUrl: 'templates/chartLine.html',scope: {chartData: '='}};});app.config(['ChartJsProvider', function (ChartJsProvider) {ChartJsProvider.setOptions({colors : [ getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],responsive: true,legend: { display: true },scales: {yAxes: [{ticks: { beginAtZero: true} }]}}); ChartJsProvider.setOptions('line', {showLines: false});}]); Chart.defaults.global.colors=[ getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()]; app.controller('sparqlController', function($scope, $http, $location) {$scope.results="+resultsVar+"}); var chartData="+resultsVar+";";
	var scripts = document.getElementById("scripts").innerHTML;
	downloadFile("results_iguana.html", html+head+"<body>"+nav+results+scripts+"<script>"+angular+"<\/script>"+footer+"</body></html>");
}

function downloadFile(filename, text) {
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}

function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
</script>






</body>

</html>
