<?xml version="1.0" encoding="UTF-8"?>
<mosquito xmlns="http://github.com/TortugaAttack/mosquito"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<data-description>
		<namespace name="http://localhost/" />
		<anchor name="#" />
		<resource-uri name="http://localhost/resource/" />
		<property-prefix-name name="bgprop" />
		<resource-prefix-name name="bgres" />
	</data-description>
<databases main="curl">
		<database id="curl" type="curl">
			<endpoint uri="localhost/sparql-auth" />
			<user value="dba" />
			<pwd value="dba" />
			<curl-url url="http://localhost/sparql-graph-crud-auth" />
			<curl-command command="curl --digest --user $USER:$PWD --url '$CURL-URL?graph-uri=$GRAPH-URI' $UPLOAD-TYPE -T $FILE"/>
			<curl-drop command="curl -X DELETE $GRAPH-URI --url '$CURL-URL'"/>
			<curl-update command="curl -i -d '$UPDATE' -u '$USER:$PWD' -H 'Content-Type: application/sparql-query' --url 'http://$ENDPOINT'"/>
		</database>
		<database id="impl" type="impl">
			<endpoint uri="localhost/sparql-auth" />
			<user value="dba" />
			<pwd value="dba" />
		</database>
	</databases>

	<benchmark log="Benchmark">
		<drop-db value="false" />
		<pgn-processing value="false" />
		<pgn-input-path name="PGNS" />
		<output-format name="RDF/XML" />
		<output-path name="res" />
		<graph-uri name="http://localhost/benchtest/" />
		<query-diversity value="2000" />
		<random-function type="seed" generate="true">
			<class-enabled value="false" />
			<data-path path="asd"/>
		</random-function>
		<test-db type="choose">
			<db id="4store" />
		</test-db>
                <testcases>
                   <testcase class="asdv">
                   		<property name="b" value="a"/>
                   </testcase>
                </testcases>
	</benchmark>
</mosquito>
