<?xml version="1.0" encoding="UTF-8"?>
<mosquito 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<data-description>
		<namespace name="http://localhost/" />
		<anchor name="#" />
		<resource-uri name="http://localhost/resource/" />
		<property-prefix-name name="bgprop" />
		<resource-prefix-name name="bgres" />
	</data-description>
	<databases main="dbpedia">
		
		<database id="curl" type="curl">
			<endpoint uri="dbpedia.org/sparql/" />
<!-- 			<update-endpoint uri="bio-gene.org:8000/update/" /> -->
			<curl-url url="http://localhost/sparql-graph-crud-auth" />
			<curl-command command="curl --digest --user $USER:$PWD --url '$CURL-URL?graph-uri=$GRAPH-URI' $UPLOAD-TYPE -T $FILE"/>
			<curl-drop command="curl -X DELETE $GRAPH-URI --url '$CURL-URL'"/>
			<curl-update command="curl -i -d '$UPDATE' -u '$USER:$PWD' -H 'Content-Type: application/sparql-query' --url 'http://$ENDPOINT'"/>
		</database>
		<database id="impl" type="impl">
			<endpoint uri="localhost/sparql-auth" />
			<user value="dba" />
			<pwd value="dba" />
		</database>
	</databases>
<!-- 	<log-clustering class="de.uni_leipzig.iguana.clustering.clusterer.BorderFlowQueryClusterer" path="../../LogFiles/" output-file="Q_S.txt"> -->
<!-- 		<property name="harden" value="SILHOUETTE"/> -->
<!-- 		<property name="only-complex-queries" value="true"/> -->
<!-- 		<property name="only-complex-queries" value="true"/> -->
<!-- 		<property name="test-one" value="false"/> -->
<!--         <property name="conn-threshold" value="0.5" /> -->
<!-- 	</log-clustering> -->
	<benchmark log="Benchmark">
<!-- 		<convert-processing value="true"/> -->
<!-- 		<convert-input-path name="src/test/resources/" /> -->
<!-- 		<rdf-vocabulary-class class="de.uni_leipzig.informatik.swp13_sc.datamodel.rdf.ChessRDFVocabulary"/> -->
<!-- 		<converter-class class="de.uni_leipzig.informatik.swp13_sc.converter.PGNToRDFConverterRanged"/> -->
<!-- 		<output-path name="src/test/java/"/> -->
		<drop-db value="false" />
		<graph-uri name="http://purl.org/dc/elements/1.1/" />
		<query-diversity value="1" />
		<random-function type="RandomTriple" generate="false">
<!-- 			<percent value="1.0" file-name="datasets/ds_250.0.nt"/> -->
<!-- 			<percent value="0.5" file-name="datasets/ds_50.0.nt"/> -->
			<percent value="1.0" file-name=""/>
		</random-function>
<!-- 		<warmup time="0" file-name="Q.txt"/> -->
		<test-db type="choose" reference="impl">
			<db id="curl" />
<!-- 			<db id="dbpedia2" /> -->
		</test-db>
		<testcases>
<!-- 			<testcase class="de.uni_leipzig.mosquito.testcases.QueryTestcase"> -->
<!-- 				<property name="queryPatternFile" value="Q.txt"/> -->
<!-- 				<property name="limit" value="2"/> -->
<!-- 				<property name="time-limit" value="10000"/> -->
<!-- 				<property name="updateStrategy" value="fixed"/> -->
<!-- 				<property name="ldPath" value="ld"/> -->
<!-- 				insertsfirst, deletesfirst, ID, DI  -->
<!-- 				<property name="ldLinking" value="insertsFirst"/> -->
<!-- 				<property name="ldLinking" value="deletesFirst"/> -->
<!-- 				<property name="ldLinking" value="ID"/> -->
<!-- 				<property name="ldLinking" value="DI"/> -->
<!-- 			</testcase> -->
					<testcase class="de.uni_leipzig.iguana.testcases.StressTestcase">
                                <property name="users" value="0"/>
                                <property name="update-users" value="1"/>
                                <property name="queryPatternFile" value="C:/Users/urFaust/queries.txt2sorted"/>
                                <property name="limit" value="2000"/>
                                <property name="time-limit" value="960000"/>
                                <property name="ldLinking" value="DI"/>
                                <property name="ldPath" value="ld"/>
                                <property name="updateStrategy" value="fixed"/>
                                <property name="x" value="0"/>
                        </testcase>

<!-- 			<testcase class="de.uni_leipzig.mosquito.testcases.StressTestcase"> -->
<!-- 				<property name="users" value="3"/> -->
<!-- 				<property name="queryPatternFile" value="Q.txt"/> -->
<!-- 				<property name="limit" value="2"/> -->
<!-- 				<property name="time-limit" value="10000"/> -->
<!-- 			</testcase> -->
<!-- 			<testcase class="de.uni_leipzig.mosquito.testcases.UploadTestcase"> -->
			
<!-- 			</testcase> -->
		</testcases>
	</benchmark>
	<email-notification attach-results="false"> 
		<hostname value="smtp.gmail.com"/>
		<port value="465"/>
		
	</email-notification>
</mosquito>
